<!-- Testimonials Section -->
<section id="testimonials" class="testimonials section">
  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>Testimonials</h2>
    <p>What our clients say</p>
  </div>
  <!-- End Section Title -->

  <div class="container" data-aos="fade-up" data-aos-delay="100">
    <div class="swiper init-swiper">
      <script type="application/json" class="swiper-config">
    {
      "loop": true,
      "speed": 600,
      "autoplay": {
        "delay": 5000
      },
      "slidesPerView": "auto",
      "pagination": {
        "el": ".swiper-pagination",
        "type": "bullets",
        "clickable": true
      },
      "breakpoints": {
        "320": {
          "slidesPerView": 1,
          "spaceBetween": 40
        },
        "1200": {
          "slidesPerView": 2,
          "spaceBetween": 20
        }
      }
    }
  </script>
      <div class="swiper-wrapper">

        <% testimonials.forEach((testimonial)=> { %>
          <div class="swiper-slide">
            <div class="testimonial-wrap">
              <div class="testimonial-item">
                <img src="<%=testimonial.imageUrl%>" class="testimonial-img" alt="<%=testimonial.name%>" />
                <h3>
                  <%=testimonial.name%>
                </h3>
                <h4>
                  <%testimonial.profession%>
                </h4>
                <div class="stars">
                  <% for (let i=1; i <=5; i++) { %>
                    <i class="bi <%= i <= testimonial.rating ? 'bi-star-fill' : 'bi-star' %>"></i>
                    <% } %>
                </div>
                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  <span>
                    <%=testimonial.message%>
                  </span>
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
              </div>
            </div>
          </div>
          <!-- End testimonial item -->
          <% }) %>


      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
<!-- End Testimonials Section -->